<footer>
    <ul class="footer_ul">
        <li>天気：<%= @weather %></li>
        <li>現在の気温：<%= @temp %>℃</li>
        <li>最高気温：<%= @temp_max %>℃</li>
        <li>最低気温：<%= @temp_min %>℃</li>
        <li><img src="<%= @img %>" alt=""></li>
    </ul>
       
</footer>